a:hover
{
    width: 160px;
    height: 30px;
    text-align: center;
    border-bottom:1 solid white ;
}
h1
{
    font-size: 80px;
    width: 50vw;
}
header
{
    display: flex;
    justify-content: space-between;
}
#header-nav
{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
a
{
    display: block;

}